body {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.75);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* this should solve the jump label problem (see below and bootstrap docs),
   * but it actually does not work */
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.optimsoc-doc-body h1,
.optimsoc-doc-body h2,
.optimsoc-doc-body h3,
.optimsoc-doc-body h4,
.optimsoc-doc-body h5,
.optimsoc-doc-body h6 {
  /* ensure that the jump targets don't end up behind the main navigation bar */
  padding-top: 50px;
  margin-top: -50px;
}

h1 {
  color: rgba(0, 0, 0, 0.75);
  color: #a2ad00;
  font-weight: 600;
  /*text-shadow: 0 1px 0 #FFFFFF;*/
}
h2 {
  /*color: #419EDA;*/
  color: #4187c1;
  font-weight: 400;
  text-shadow: 0 1px 0 #FFFFFF;
}
h3 {
  color: #F04C5C;
  font-weight: 400;
  text-shadow: 0 1px 0 #FFFFFF;
}
h4 {
  font-weight: 600;
  text-shadow: 0 1px 0 #FFFFFF;
}
pre, code, .ltx_path {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
}
pre {
  border-radius: 3px 3px 3px 3px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  border: medium none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.075) inset;
}
code {
  background: none;
  box-shadow: none;
  display: inline;
  border-radius: 0;
  padding: 0;
}
figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
figure > * {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
figcaption {
  margin-top: 1.5em;
  font-size: 90%;
  text-align: center;
}


/* top navigation bar */
.optimsoc-nav {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 3px rgba(153, 153, 153, 0.75);
  font-size: 18px;
  font-weight: 400;
}

.optimsoc-nav .navbar-brand {
  background: url("../img/optimsoc_logo.png") no-repeat scroll left center transparent;
  display: inline-block;
  font-size: 25px;
  margin-left: 0;
  padding-left: 45px;
}

.navbar-toggle {
  border-color: #AAAAAA;
}
.navbar-toggle .icon-bar {
  background-color: #AAAAAA;
}

.wordmark {
  font-family: 'Fredericka the Great', cursive;
  color: #333333;
  text-shadow: 0 1px 0 white;
}

/* footer */
.optimsoc-footer {
  color: rgba(77, 77, 77, 0.75);
  font-weight: 300;
  text-align: center;
}

.optimsoc-section-header h1 {
  font-size: 50px;
  color: #F04C5C;
  font-weight: 600;
  text-shadow: 0 1px 0 #FFFFFF;
}

/* social media */
ul.share-buttons {
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

/* ================== HOMEPAGE ================== */
.optimsoc-claim {
  background-color: #003359;
  background: url("../img/grid-large.jpg") repeat scroll left center transparent;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  vertical-align: middle;
}

.optimsoc-claim h1 {
  font-weight: normal;
}

.optimsoc-claim .lead {
  color: #FFFFFF;
}

.optimsoc-claim-img {
  border-radius: 20px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 3px 3px #666;
}

/* ================== ABOUT PAGE ================== */
.optimsoc-about-people {
  margin-top: 10px;
}

/* ================== BLOG ================== */
.optimsoc-blog-meta {
  color: rgba(77, 77, 77, 0.75);
  font-weight: 300;
}

/* ================== DOCUMENTATION ================== */
/* documentation main navigation (chapters) */
.optimsoc-doc-mainnav .nav > li > a {
  padding: 0;
}

/* documentation subnavigation (inside the chapter) */
.optimsoc-doc-mainnav.affix {
    position: static;
}
.optimsoc-doc-mainnav.affix-top {
    top: 50px;
}
@media screen and (min-width: 992px) {
  .optimsoc-doc-mainnav.affix-bottom, .optimsoc-doc-mainnav.affix, .optimsoc-doc-mainnav.affix-top {
      width: 213px;
  }
  .optimsoc-doc-mainnav.affix {
      position: fixed;
      top: 80px;
  }
  .optimsoc-doc-mainnav.affix-bottom {
      position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .optimsoc-doc-mainnav.affix-bottom, .optimsoc-doc-mainnav.affix, .optimsoc-doc-mainnav.affix-top {
      width: 263px;
  }
}

.optimsoc-doc-mainnav li div.active {
  color: #F04C5C;
  font-weight: bold;
}

.optimsoc-doc-subnav {
  background-color: #FFFFFF;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.optimsoc-doc-subnav .nav > li > a {
  display: block;
  padding: 4px 20px;
}
.optimsoc-doc-subnav .nav > li > a:hover,
.optimsoc-docs-sidebar .nav > li > a:focus {
  text-decoration: none;
}
.optimsoc-doc-subnav .nav > .active > a,
.optimsoc-docs-sidebar .nav > .active:hover > a,
.optimsoc-docs-sidebar .nav > .active:focus > a {
    background-color: rgba(0, 0, 0, 0);
    color: #F04C5C;
    font-weight: 500;
}
.optimsoc-doc-subnav .nav .nav {
  display: none;
  margin-bottom: 5px;
}
.optimsoc-doc-subnav .nav > .active > ul {
  display: block;
}
.optimsoc-doc-subnav .nav .nav > li > a {
  font-size: 90%;
  padding-bottom: 2px;
  padding-left: 30px;
  padding-top: 2px;
}

/* latexml-generated styles */
/* basic font styling */
.ltx_font_serif      { font-family: serif; }
.ltx_font_sansserif  { font-family: sans-serif; }
.ltx_font_bold       { font-weight: bold; }
.ltx_font_medium     { font-weight: normal; }
.ltx_font_italic     { font-style: italic; }
.ltx_font_upright    { font-style: normal; }
.ltx_font_slanted    { font-style: oblique; }
.ltx_font_smallcaps  { font-variant: small-caps; }

/* itemized lists with non-standard bullets */
li.ltx_item > .ltx_tag {
  display: inline;
  margin-left: -1.5em;
}
.ltx_item .ltx_tag + .ltx_para, .ltx_item .ltx_tag + .ltx_para .ltx_p {
  display: inline;
}

/* footnotes */
.optimsoc-doc-footnote-full > sup {
  padding-right: 10px;
}

hr.optimsoc-doc-sep-footnotes {
  width: 50%;
  border-color: #999999;
  margin: 30px auto 0 0;
  display: block;
}

/* listings */
.ltx_listingblock {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;

  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ltx_listing_data {
  float:right;
}
.ltx_listing_data a {
  text-decoration:none;
}

.ltx_listing td.ltx_linenumber,
.ltx_listingblock td.ltx_linenumber {
  width:3em; text-align:right;
}

.ltx_listingblock {
  display: block;
}


/*
 * styling support for the docnote environment
 * style based on .bs-callout-info used in the bootstrap documentation
 */
.ltx_docnote {
  display: block;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  border-left-color: #5bc0de;
  width: 100%;
}
.ltx_docnote_title {
  margin-top: 0;
  margin-bottom: 5px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;

  color: #5bc0de;
}
.ltx_docnote p:last-child {
  margin-bottom: 0;
}
.ltx_docnote code {
  border-radius: 3px;
}
